<!-- views/schedule.erb -->
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= t(:schedule_page_description) %>">
  <title><%= t(:schedule_page_title) %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <%= erb :layout %>
  <div class="container mt-5">
    <h1 class="text-center"><%= t(:schedule_page_title) %></h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t(:day) %></th>
          <th><%= t(:time) %></th>
          <th><%= t(:activity) %></th>
        </tr>
      </thead>
      <tbody>
        <% @schedule.each do |item| %>
          <tr>
            <td><%= item[:day] %></td>
            <td><%= item[:time] %></td>
            <td><%= item[:activity] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= erb :footer %>
</body>
</html>
